.color-one{
    background-color: #919ebc;
}
.color-two{
    background-color: #023047;
}
.color-three{
    background-color: #ffb703;
}
.color-four{
    background-color: #fb8500;
}
.color-five{
    background-color: #8ecae6;
}
.btn-color{
    background-color: #52527a;
}
.color-six{
    color: #fb8500;
}